* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.parent {
  background-color: #000000 !important;
}
.c {
  border: 2px solid #08cb00;
}
.back {
  position: absolute;
  top: 20px;
}
.back a {
  border: 2px solid #08cb00;
  padding: 5px;
  color: #08cb00;
  border-radius: 6px;
}
.back a:hover {
  background-color: #08cb00;
  color: black;
}
.login-title {
  color: #08cb00;
}
.login-btn {
  background-color: #08cb00;
  border: none;
  border-radius: 10px;
  padding: 8px 16px;
  font-size: 20px;
}
form {
  border: 2px solid #08cb00;
  width: 100%;
  border-radius: 10px;
  padding: 30px 8px 10px 8px;
}
@media (min-width: 767px) {
  form {
    width: 30%;
  }
}
